##### EXCLUDES #####

# Project Agnostic
.svn/
.vs/
_ReSharper.*/
/_UpgradeReport_Files/
/TestResults/
*.suo
*.bak
*.[Cc]ache
*.user
*.ncb
*.schemaview
*.[Rr]e[Ss]harper
*.FileListAbsolute.txt
Ankh.NoLoad
[Tt]humbs.db
/UpgradeLog.XML
/UpgradeLog.htm
*.log
*.dbmdl
*.docstates
*.Publish.xml

# Project Specific
/[Pp]ackages/*/

# Build Generated
/[Bb]uild/*.nupkg

# Build Binaries
/[Dd]emos/*/[Bb]in/
/[Dd]emos/*/[Oo]bj/
/[Ss]ource/*/[Bb]in/
/[Ss]ource/*/[Oo]bj/
/[Tt]ests/*/[Bb]in/
/[Tt]ests/*/[Oo]bj/

##### INCLUDES #####
